.main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  @media print{
    display: block;
    width: auto;
    height: auto;

    .resume{
      border: none;
    }
  }

  .resume{
    display: flex;
    flex-direction: column;
    width: 8.5in;
    min-width: 8.5in;
    height: 11in;
    margin: 0;
    padding: 0;

    font-size: var(--fontSize1);

    line-height: 1.3em;

    background-color: white;

    border: 1px solid red;
    @media print{border: none;}

    .header{
      display: flex;
      flex-direction: column;
      padding: var(--spacing6) var(--spacing6) var(--spacing5) var(--spacing6);

      text-align: center;

      border-bottom: 1px solid black;

      .name{
        margin: 0;

        font-size: var(--fontSize5);
        font-family: var(--primaryFont);
        line-height: 1.3em;
      }

      .title{
        margin: var(--spacing2) 0 0 0;

        font-size: var(--fontSize3);
        font-family: var(--capsFont);
      }

      .links{
        display: flex;
        align-self: stretch;
        justify-content: space-around;
        margin-top: var(--spacing5);


        a{
          color: var(--black);
          font-size: var(--fontSize1);
          text-decoration: none;
        }
      }
    }

    .sectionHeading{
      font-weight: 600;
      font-size: var(--fontSize3);
    }

    .jobs{
      display: flex;
      flex-direction: column;
      gap: var(--spacing6);
      padding: var(--spacing5) var(--spacing6);

      .job{
        .title{
          margin: 0;

          font-weight: 600;

          font-size: var(--fontSize1);
          font-family: var(--capsFont);
          line-height: 1em;
        }

        .tenure{
          display: flex;
          margin-top: var(--spacing2);
          margin-bottom: var(--spacing3);

          font-size: var(--fontSize2);
        }

        ul{
          margin: 0;
        }
      }
    }

    .ats{
      display: flex;
      flex-direction: column;
      gap: var(--spacing5);
      padding: var(--spacing6) var(--spacing6)  0 var(--spacing6);

      font-size: var(--fontSize0);
      text-align: center;

      border-top: 1px solid black;

      section{
        display: flex;
        flex-direction: column;
      }

      .heading{
        margin: 0 0 var(--spacing2) 0;

        font-size: var(--fontSize0);
        font-family: var(--capsFont);
      }

      .keywords{
        line-height: 1.3em;
      }
      p{
        margin: 0;
      }
    }
  }
}
