@font-face{
  font-weight: 400;
  font-family: "Hermes Maia";
  font-style: normal;
  src: url("/fonts/hermes_maia_4_regular.woff2") format("woff2");
  font-display: block;
}
@font-face{
  font-weight: 400;
  font-family: "Hermes Maia";
  font-style: italic;
  src: url("/fonts/hermes_maia_4_italic.woff2") format("woff2");
  font-display: block;
}
@font-face{
  font-weight: 700;
  font-family: "Hermes Maia";
  font-style: normal;
  src: url("/fonts/hermes_maia_4_bold.woff2") format("woff2");
  font-display: block;
}
@font-face{
  font-weight: 700;
  font-family: "Hermes Maia";
  font-style: italic;
  src: url("/fonts/hermes_maia_4_bold_italic.woff2") format("woff2");
  font-display: block;
}
